* {
	box-sizing: border-box;
}

body {
		font-size: 100%;
		font-family: arial;
		padding: 0;
		margin: 0;
		background-color: #272b30;
  }
  
  .container {
		display: flex;
		margin: auto;
		max-width: 1408px;
		flex-direction: column;
		min-height: 100vh;
  }
  
  @media (min-width: 768px) {
	.container {
	  display: grid;
	  grid-template-columns: 150px 1fr 150px;
	  grid-template-rows: auto 1fr auto;
		}
  }
  
  .main-navbar {
		grid-column: span 3;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.4rem;
		padding: 0;
		text-align: center;
		background: linear-gradient(to bottom, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
  }

  #navbar-toggle {
		display:none;
  }

  .main-navbar > a {
	  height: 4rem;
	  min-width: 15%;
	  display: block;
	  text-align: center;
	  cursor: pointer;
	  background-color: transparent;
	  text-decoration: none;
	  line-height: 4rem;
	  color: rgb(163, 163, 163);
  }

  .main-navbar > a:active,
  .main-navbar > a:hover {
	  background-color: rgb(75, 75, 75);
  }

  @media (max-width: 680px) {
	.main-navbar {
		display: flex;
		flex-direction: column;
	}

	.main-navbar > a {
		display: none;
	}

	#navbar-toggle {
		height: 2rem;
		line-height: 2rem;
		display: block;
		cursor: pointer; 
		color: rgba(255,255,255,0.8);
		font-size: 24px;
		}
  }
  
  main {
		flex: 1;
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		margin: 0.5rem;
		padding: 0;
  }
  
	#game_canvas {
		border: 1px solid black;
		width: 640px;
		height: 960px;
  }

  @media (max-width: 768px) {
	#game_canvas {
		width: 342px;
		height: 512px;
	  }
  }

  @media (max-width: 480px) {
	#game_canvas {
		width: 320px;
		height: 480px;
	  }
  }

  
 .aside-A {
		padding: 1.3rem;
		background-color: #4b5556;
  }
   
  .aside-B {
		padding: 1.3rem;
		background-color: #4b5556;
  }
  
  footer {
		grid-column: span 3;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 1.8rem;
		text-align: center;
		font-size: 1.4rem;
		background-color: #2e3338;
		color: white;
  }